.student-lists {
    width: 800px;
    background-color: #f7f7f7;
}

.student-lists h2{
    margin-left: 10px;
    padding-top: 10px
}

.student-list {
    padding: 0;
    height: 300px;
}

.student-list li {
    padding-top: 10px;
    text-align: center;
    margin-left: 15px;
    margin-top: 10px;
    background-color: #eeeeee;
    float:left;
    width: 80px;
    height: 30px;
    list-style:none;

}

#input-student {
    margin-top: 10px;
    border: 1px solid #eeeeee;
    background-color: #f7f7f7;
    height: 30px;
}

#input-student input {
    margin-left: 5px;
    border-style:none;
    background-color: #f7f7f7;
    width: 70px;
    height: 20px;
}

