.student-list {
    width: 800px;
}

.student-list ul {
    padding: 0;
}

.student-list ul li {
    padding-top: 10px;
    text-align: center;
    margin-left: 15px;
    margin-top: 10px;
    background-color: #eeeeee;
    float:left;
    width: 80px;
    height: 30px;
    list-style:none;
    display:block;
    white-space: nowrap;

}
